.story_page {
  width: calc(100vw - 18rem);
}

.story_img_container {
  height: 35rem;
}

.story_img {
  left: 49%;
  transform: translateX(-50%);
}

.left_arrow {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  left: 23%;
  z-index: 40;
}

.right_arrow {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  right: 25%;
  z-index: 40;
}

@media screen and (max-width: 1200px) {
  .story_page {
    width: calc(100vw - 10rem);
  }
  .left_arrow {
    left: 10%;
  }

  .right_arrow {
    right: 12%;
  }
}

@media screen and (max-width: 800px) {
  .story_page {
    width: 100vw;
  }
  .left_arrow {
    left: 10%;
  }

  .right_arrow {
    right: 12%;
  }
}

@media screen and (max-width: 800px) {
  .left_arrow {
    left: 10%;
  }

  .right_arrow {
    right: 12%;
  }
}
