@media screen and (max-width: 800px) {
  .description {
    font-size: 8px;
  }
  .visit {
    font-size: 10px;
  }
}

@media screen and (max-width: 475px) {
  .advertisements {
    gap: 400px;
  }
}
