@media screen and (max-width: 1200px) {
  .category {
    font-size: 9px;
  }
  .date {
    font-size: 6px;
  }
  .picture {
    width: 1.2rem;
  }
  .username {
    font-size: 8px;
    line-height: 13px;
  }
  .title {
    font-size: 10px;
    line-height: 15px;
  }
  .status {
    font-size: 9px;
  }
  .description {
    line-height: 13px;
    font-size: 9px;
  }
  .tag {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  .category {
    font-size: 7px;
  }
  .date {
    font-size: 5px;
    line-height: 9px;
  }
  .picture {
    width: 0.8rem;
  }
  .username {
    font-size: 8px;
    line-height: 10px;
  }
  .title {
    font-size: 7px;
    line-height: 11px;
  }
  .status {
    font-size: 6px;
  }
  .description {
    line-height: 11px;
    font-size: 7px;
  }
  .tag {
    font-size: 6px;
  }
}

@media screen and (max-width: 475px) {
  .category {
    font-size: 16px;
  }
  .date {
    font-size: 11px;
  }
  .picture {
    width: 1.6rem;
  }
  .username {
    font-size: 13px;
  }
  .title {
    font-size: 14px;
  }
  .status {
    font-size: 10px;
  }
  .description {
    font-size: 12px;
  }
  .tag {
    font-size: 10px;
  }
}
